services:
  ciberWeb:
    build:
    container_name: ciberWeb
    env_file: .env
    restart: always
    networks:
      - web
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:80/health"]
      interval: 30s
      timeout: 5s
      retries: 3
  networks:
    web:
     external: true